<template name="addEdge">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Criação de arestas</h4>
                </div>
                <div class="modal-body">
                    {{#autoForm id="addNewEdge" type="method" meteormethod="insertEdge" schema=Schemas.newEdgeSchema currentNode=source}}
                        {{> afQuickField name="data.name"}}
                        {{> afQuickField name="data.source" readonly=true value=source.data.id}}
                        {{> afFormGroup type="select" name="data.target" options=nodesOptions}}
                        <button type="submit" class="btn btn-primary">Criar Aresta</button>
                    {{/autoForm}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>