<template name="updateNode">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Atualizando nó "{{node.data.name}}"</h4>
                </div>

                <div class="modal-body">
                    {{#autoForm id="updateNode" type="method-update" meteormethod="updateNodeData2" schema=Schemas.NodeSchema doc=node autosaveOnKeyup=true}}
                        {{> afQuickField name="data.id" readonly=isAdmin}}
                        {{> afQuickField name="data.name"}}
                        {{> afQuickField name="data.tipo" readonly=isAdmin}}
                        {{> afQuickField name="data.color"}}

                        {{> afQuickField name="position.x"}}
                        {{> afQuickField name="position.y"}}

                        {{#unless autoSaveMode}}
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        {{/unless}}
                    {{/autoForm}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>