<template name="graphControlls">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default save-graph">
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Salvar
        </button>
        <!-- layout selection -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle layout-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mudar Layout <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {{#each layouts}}
                    <li><a href="#">{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
        <!-- Autosave On/off -->
        {{> autoSaveButton}}
        <!-- Is Directed switch -->
        {{> isDirectedButton}}
    </div>
    <button type="button" class="btn btn-primary pull-right share-graph">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Compartilhar
    </button>

</template>

<template name="autoSaveButton">
    <button type="button" class="btn {{btnClass}} autosave-mode-toggler">{{btnContent}}</button>
</template>

<template name="isDirectedButton">
    <button type="button" class="btn btn-default is-directed">
        <span class="glyphicon {{icon}}" aria-hidden="true"></span> {{text}}
    </button>
</template>