<template name="fluxo">
    <h2>{{name}}</h2>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            {{> chatBox}}
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {{> graphControlls}}
                        {{> graphContainer}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<template name="graphContainer">
    {{> edgesMenu}}
    {{> nodesMenu}}
    <div id="cy"></div>
</template>
