<template name="search">
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Manipulador de fluxos</h1>

            <div class="featurette">
                <div class="featurette-inner text-center">
                    <form role="form" class="search" id="fluxoSearchForm">
                        <br>
                        <div class="input-group input-group-lg">
                            <input type="search" name="fluxo" placeholder="Busque pelo nome do fluxo!" class="form-control fluxo-search">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <a href="/fluxo/217" class="btn btn-dark btn-lg">Debug ?</a>
            {{#if currentUser}}
                <a href="{{pathFor route='graph.new'}}" class="btn btn-success btn-lg">Criar Fluxo</a>
            {{/if}}

        </div>
    </header>
    <div id="search-results">
        {{#if searchResults}}
            <ul class="list-group">
                {{#each searchResults}}
                    {{> searchResult}}
                {{/each}}
            </ul>
            {{else}}
            {{#if lastSearch}}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Nenhum fluxo encontrado para <strong>"{{lastSearch}}"</strong>
                </div>
            {{/if}}
        {{/if}}
    </div>
</template>

<template name="searchResult">
    <li class="list-group-item"><a href="/documento/{{ID_TIPO_DOC}}">{{DESCR_TIPO_DOC}}</a></li>
</template>