<template name="tramitacoes">
    <div class="container">
        {{#if isGraphRendered}}<h2>Doc. {{title}}</h2>{{/if}}
        <div class="row">
            {{#unless isGraphRendered}}
                {{> spinner}}
            {{/unless}}
            <div class="col-md-6">
                <!-- Animation controls -->
                {{#if isGraphRendered}}
                    <ul class="timeline">
                        {{#each items}}
                            {{> tramitacaoTimelineItem}}
                        {{/each}}
                    </ul>
                {{/if}}
            </div>

            <div class="col-md-6">
                <div id="graph-column" data-spy="affix" data-offset-top="100">
                    {{#if isGraphRendered}}
                        <button type="button" class="btn btn-default play-animation" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                            <i class="glyphicon glyphicon-play"></i>
                        </button>
                        <button type="button" class="btn btn-default stop-animation">
                            <i class="glyphicon glyphicon-stop"></i>
                        </button>
                        {{currentSequencia}} de {{items.count}}
                        {{> tramitacoesSlider}}
                    {{/if}}
                    <div id="cy"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Fim tramitaçÕes-->

<template name="tramitacoesSlider">
    <div id="slider"></div>
</template>


<template name="tramitacaoTimelineItem">
    <li class="{{cls}} {{#if active}}active-item{{/if}}">
        <div class="timeline-badge {{#if active}}primary{{/if}} {{#if passed}}success{{/if}}">
            {{#if passed}}<i class="glyphicon glyphicon-check"></i>{{/if}} {{SEQUENCIA}}
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <!--<h4 class="timeline-title"></h4> -->
                {{DESCR_FLUXO}}
                <p><small class="text-muted">
                    <i class="glyphicon glyphicon-time"></i> <a href="#" data-toggle="tooltip" title={{dtDespacho.calendar}}>{{dtDespacho.relative}}</a>.
                    {{#if isRecebido}}
                        Levou: <a href="#" data-toggle="tooltip" title="Despacho: {{dtDespacho.calendar}} Recebimento: {{dtRecebimento.calendar}}">{{dateDiff}}</a>
                    {{/if}}
                </small></p>
            </div>
            <div class="timeline-body">
                <p>
                    <strong>{{ORIGEM}}</strong> enviou para {{DESTINO}} {{dtDespacho.relative}}
                    {{#if isRecebido}}
                        e foi recebido por <strong>{{RECEBIDO}}</strong> {{dtRecebimento.relative}}.
                    {{else}}
                        .
                    {{/if}}
                </p>
                <a href="#">Saiba mais detalhes</a>
            </div>
        </div>
    </li>
</template>