<template name="exampleModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Modal example {{node.color}}</h4>
                </div>

                <div class="modal-body">
                    <form id="node-edit">
                        <input type="text" name="name" placeholder="{{node.name}}" />
                        <input type="text" name="color" placeholder="{{node.color}}" />
                        <input type="text" name="id" placeholder="{{node.id}}" />
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>