<template name="exampleModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Modal example {{node.data.name}}</h4>
                </div>

                <div class="modal-body">
                    <form id="node-edit">
                        <input type="text" name="data.name" value="{{node.data.name}}" />
                        <input type="text" name="data.color" value="{{node.data.color}}" />
                        <input type="text" name="data.id" value="{{node.data.id}}" placeholder="Situação" />
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>